<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      We can find you wherever you are <ion-icon name="skull-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" ng-controller="MyCtrl">
    <svg id="svg1">
      <g>
        <text id="chk" x=70 y=30>&#x2639;
          <animateMotion id="Xanimation" begin="indefinite" path="M 0 0 L 0 0" dur="2s" fill="freeze"
            restart="whenNotActive" additive="sum" accumulate="sum" />
          <animateMotion id="Yanimation" begin="Xanimation.end" path="M 0 0 L 0 0" dur="2s" fill="freeze" additive="sum"
            restart="whenNotActive" />
          <animate id="moveX" attributeType="XML" attributeName="x" from="70" to="70" dur="1s"
            animation-timing-function=" linear" begin="indefinite" restart="whenNotActive" fill="freeze" />
          <animate id="moveY" attributeType="XML" attributeName="y" from="30" to="30" dur="4s" begin="indefinite"
            restart="whenNotActive" fill="freeze" />

        </text>

      </g>
    </svg>
  </div>
</ion-content>